<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 <connectionStrings>
  <add name="p_proyect_c"
	   connectionString="Server=.;Database=p_proyect;Trusted_Connection=True;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=true;"
	   providerName="System.Data.SqlClient" />

  
   <add name="DefaultConnection"
		connectionString="Server=.;Database=p_proyect;Trusted_Connection=True;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=true;"
		providerName="System.Data.SqlClient" />
  
 </connectionStrings>
</configuration>